<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- local connection properties -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost/hibernate</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<!-- property name="hibernate.connection.pool_size"></property -->

		<!-- dialect for MySQL -->
		<property name="dialect">org.hibernate.dialect.MariaDBDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Déclaration des mappings des Entités -->
		<mapping class="com.ib.data.tableparclassconcrete.Coach"/>
		<mapping class="com.ib.data.tableparclassconcrete.Personne"/>
		<mapping class="com.ib.data.tableparclassconcrete.Player"/>
		
		
	</session-factory>
</hibernate-configuration>